{% extends 'base.html' %} 
{% block content %}
<script>
$(document).on("click", ".delete-dialog", function () {
  var id = $(this).data('id');
	$("#recordID").val( id );
});
function delete_record(test_id)
{
	location.href = "/test/delete/"+$("#recordID").val();
}
</script>

    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              {{ heading }}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

 <div class="container">
		<div class="row">
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
		  {% endif %}
		  <div class="col-lg-12">
			<form name="frm" action="lib/test.php" method="post">
			  <section class="panel">
				  <table class="table table-striped table-advance table-hover" style="color:#000000">
				   <tbody>
					  <tr class="bg-primary">
						<th style="background-color:#ef6c00; color:#FFFFFF;">Sr. No.</th>
						<th style="background-color:#ef6c00; color:#FFFFFF;">Name</th>
						<th style="background-color:#ef6c00; color:#FFFFFF;">Cost</th>
						<th style="background-color:#ef6c00; color:#FFFFFF;">Duration</th>
						<th style="background-color:#ef6c00; color:#FFFFFF;"><i class="icon_cogs"></i> Action</th>
					  </tr>
					  {% for test in testlist %}
					  <tr>
						<td style="text-align:center; font-weight:bold;">{{ forloop.counter }}</td>
						<td>{{test.test_title}}</td>
						<td>{{test.test_cost}}</td>
						<td>{{test.test_duration}}</td>
						<td>
						  <div class="btn-group">
						     <a href="/test/update/{{test.test_id}}" class="btn btn-success">Edit</a>
                 <a class="delete-dialog btn btn-danger" data-id="{{test.test_id}}" data-toggle="modal" href="#myModal-2">Delete</a>
						  </div>
						  </td>
					  </tr>
					  {% endfor %}
				   </tbody>
				</table>
			  </section>
			  <input type="hidden" name="act" />
			  <input type="hidden" name="test_id" id="recordID" />
			 </form>
		  </div>
	  </div>
	</div>
{% endblock content %}