{% extends 'base.html' %} 
{% block content %}
<script>
$(document).on("click", ".delete-dialog", function () {
  var id = $(this).data('id');
	$("#recordID").val( id );
});
function delete_record(user_id)
{
	location.href = "/users/delete/"+$("#recordID").val();
}
</script>

    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              {{ heading }}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

 <div class="container">
		<div class="row">
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
		  {% endif %}
		  <div class="col-lg-12">
			<form name="frm" action="lib/user.php" method="post">
			  <section class="panel">
				 
				  <table class="table table-striped table-advance table-hover" style="color:#000000">
				   <tbody>
					  <tr class="bg-primary">
						<th style="background-color:#ef6c00; color:#FFFFFF;">Sr. No.</th>
						<th style="background-color:#ef6c00; color:#FFFFFF;">Image</th>
						<th style="background-color:#ef6c00; color:#FFFFFF;">Name</th>
						<th style="background-color:#ef6c00; color:#FFFFFF;">Mobile</th>
						<th style="background-color:#ef6c00; color:#FFFFFF;">Email</th>
						<th style="background-color:#ef6c00; color:#FFFFFF;">Date Of Birth</th>
						<th style="background-color:#ef6c00; color:#FFFFFF;"><i class="icon_cogs"></i> Action</th>
					  </tr>
					  {% for user in userlist %}
					  <tr>
						<td style="text-align:center; font-weight:bold;">{{ forloop.counter }}</td>
						<td><img src="{{user.user_image}}" style="heigh:50px; width:50px"></td>
						<td>{{user.user_name}}</td>
						<td>{{user.user_email}}</td>
						<td>{{user.user_gender}}</td>
						<td>{{user.user_dob}}</td>
						<td>
						  <div class="btn-group">
						     <a href="/users/update/{{user.user_id}}" class="btn btn-success">Edit</a>
								 {% if user.user_level_id == 3 %}
								 	<a href="/appointments/report/{{user.user_id}}" class="btn btn-primary" style="height:34px">Appointments</a>
								 {% endif %}
                 <a class="delete-dialog btn btn-danger" data-id="{{user.user_id}}" data-toggle="modal" href="#myModal-2">Delete</a>
						  </div>
						  </td>
					  </tr>
					  {% endfor %}
				   </tbody>
				</table>
			  </section>
			  <input type="hidden" name="act" />
			  <input type="hidden" name="user_id" id="recordID" />
			 </form>
		  </div>
	  </div>
	</div>
{% endblock content %}