{% extends 'base.html' %} 
{% block content %}
<script>
$(document).on("click", ".delete-dialog", function () {
  var id = $(this).data('id');
	$("#recordID").val( id );
});
function delete_record(product_id)
{
	location.href = "/products/cart-delete/"+$("#recordID").val();
}
</script>
    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Shopping Cart
            </h1>
          </div>
        </div>
      </div>
    </div>
<!-- //breadcrumbs -->

<div class="container">
		<div class="row">
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
		  {% endif %}
		  <div class="col-lg-12">
			<form name="frm" action="lib/product.php" method="post">
			  <section class="panel">
					<table class="table table-striped table-advance table-hover" style="color:#000000">
				   <tbody>
							<tr>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Sr. No.</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Image</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Product Name</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Cost Per Unit</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Qunatity</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Total Cost</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Action</th>
							</tr>
							{% for product in productlist %}
								<tr>
									<td style="text-align:center; font-weight:bold;">{{ forloop.counter }}</td>
									<td><img src="{{product.product_image}}" style="height:50px; width:50px"></td>
									<td>{{product.product_name}}</td>
									<td>Rs. {{product.product_price}}.00/-</td>
									<td>{{product.oi_cart_quantity}} Items</td>
									<td>{{product.oi_total}}.00/-</td>
									<td>
											<div class="btn-group">
													<a class="delete-dialog btn btn-danger" data-id="{{product.oi_id}}" data-toggle="modal" href="#myModal-2">Delete Item</a>
											</div>
									</td>
								</tr>
							{% endfor %}	
							<tr>
								<td colspan="7" style="text-align:right;">
										<div>
											<span style="font-size: 18px; color: #FF0000; font-weight: bold; margin-right: 19px;">Total Cost : {{totalCost.totalCartCost}}.00/- </span>
										</div>
								</td>
							</tr>
							<tr>
								<td colspan="7" style="text-align:right;">
										<div>
											<a href="payment" class="btn btn-success">Proceed to Checkout</a>
											<a href="/products" class="btn btn-primary" style="margin-left:10px;">Continue Shopping</a>
										</div>
								</td>
							</tr>
						</tbody>
					</table>
				<input type="hidden" name="act" />
			  <input type="hidden" name="oi_id" id="recordID" />
	</form>
</div>
</div>
</div>
</div>
{% endblock content %}