{% extends 'base.html' %} 
{% block content %}
<script>
$(document).on("click", ".delete-dialog", function () {
  var id = $(this).data('id');
	$("#recordID").val( id );
});
function delete_record(product_id)
{
	location.href = "/products/delete/"+$("#recordID").val();
}
</script>
    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              {{ heading }}
            </h1>
          </div>
        </div>
      </div>
    </div>
<!-- //breadcrumbs -->

<div class="container">
		<div class="row">
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
		  {% endif %}
		  <div class="col-lg-12">
			<form name="frm" action="lib/product.php" method="post">
			  <section class="panel">
				  <table class="table table-striped table-advance table-hover" style="color:#000000">
				   <tbody>
							<tr>
								<th style="background-color:#ef6c00; color:#FFFFFF;">ID</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Image</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Product Name</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Type</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Company</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Stock</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Price</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Action</th>
							</tr>
							{% for product in productlist %}
								<tr>
									<td style="text-align:center; font-weight:bold;">{{ forloop.counter }}</td>
									<td><img src="{{product.product_image}}" style="height:50px; width:50px"></td>
									<td>{{product.product_name}}</td>
									<td>{{product.type_name}}</td>
									<td>{{product.company_name}}</td>
									<td>{{product.product_stock}}</td>
									<td>{{product.product_price}}</td>
									<td>
											<div class="btn-group">
													<a href="/products/update/{{product.product_id}}" class="btn btn-success">Edit</a>
													<a class="delete-dialog btn btn-danger" data-id="{{product.product_id}}" data-toggle="modal" href="#myModal-2">Delete</a>
											</div>
									</td>
								</tr>
							{% endfor %}	
						</tbody>
					</table>
				<input type="hidden" name="act" />
			  <input type="hidden" name="product_id" id="recordID" />
	</form>
</div>
</div>
</div>
</div>
{% endblock content %}