{% extends 'base.html' %} 
{% block content %}
<script>
$(document).on("click", ".delete-dialog", function () {
  var id = $(this).data('id');
	$("#recordID").val( id );
});
function delete_record(product_id)
{
	location.href = "/products/cart-delete/"+$("#recordID").val();
}
</script>
    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Order Receipt and Details
            </h1>
          </div>
        </div>
      </div>
    </div>
<!-- //breadcrumbs -->

<div class="container">
		<div class="row">
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
		  {% endif %}
		  <div class="col-lg-12">
			<form name="frm" action="#" method="post">
					{% csrf_token %}
				<table class="table table-striped table-advance table-hover" style="color:#000000; width:60%">
					<tr>
						<th colspan="2" style="color:#FFFFFF; background-color:#ef6c00;">Customer and Order Details</th>
					</tr>
					<tr>
						<th style="width:30%">Order ID</th>
						<td style="width:70%">{{customerOrderDetails.order_id}}</td>
					</tr>
					<tr>
						<th>Date</th>
						<td>{{customerOrderDetails.order_date}}</td>
					</tr>
					<tr>
						<th>Order Status</th>
						<td>
							<select name="order_status" required class="form-control" placeholder="Order Status" autofocus=""  required/>
							
								{{protypelist |safe }}
							
							</select>
						</td>
					</tr>
					<tr>
						<th>Customer Name</th>
						<td>{{customerOrderDetails.user_name}}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{customerOrderDetails.user_email}}</td>
					</tr>
					<tr>
						<th>Contact</th>
						<td>{{customerOrderDetails.user_mobile}}</td>
					</tr>
					<tr>
						<th colspan="2"><button type="submit" class="btn btn-success">Update Order Status</button></th>
					</tr>
				</table>
				</table>
			  <section class="panel">
					<table class="table table-striped table-advance table-hover" style="color:#000000">
				   <tbody>
							<tr>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Sr. No.</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Image</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Product Name</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Cost Per Unit</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Qunatity</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Total Cost</th>
							</tr>
							{% for product in productlist %}
								<tr>
									<td style="text-align:center; font-weight:bold;">{{ forloop.counter }}</td>
									<td><img src="{{product.product_image}}" style="height:50px; width:50px"></td>
									<td>{{product.product_name}}</td>
									<td>Rs. {{product.product_price}}.00/-</td>
									<td>{{product.oi_cart_quantity}} Items</td>
									<td>{{product.oi_total}}.00/-</td>
								</tr>
							{% endfor %}	
							<tr>
								<td colspan="7" style="text-align:right;">
										<div>
											<span style="font-size: 18px; color: #FF0000; font-weight: bold; margin-right: 19px;">Total Cost : {{totalCost.totalCartCost}}.00/- </span>
										</div>
								</td>
							</tr>
						</tbody>
					</table>
				<input type="hidden" name="act" />
			  <input type="hidden" name="order_id" value="{{customerOrderDetails.order_id}}" />
	</form>
</div>
</div>
</div>
</div>
{% endblock content %}