{% extends 'base.html' %} 
{% block content %}
<script>
$(document).on("click", ".delete-dialog", function () {
  var id = $(this).data('id');
	$("#recordID").val( id );
});
function delete_record(order_id)
{
	location.href = "/orders/delete/"+$("#recordID").val();
}
</script>
    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              {{ heading }}
            </h1>
          </div>
        </div>
      </div>
    </div>
<!-- //breadcrumbs -->

<div class="container">
		<div class="row">
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
		  {% endif %}
		  <div class="col-lg-12">
			<form name="frm" action="lib/order.php" method="post">
			  <section class="panel">
				  <table class="table table-striped table-advance table-hover" style="color:#000000">
				   <tbody>
							<tr>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Order ID</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Customer Name</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Customer Email</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Customer Contact</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Order Date</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Order Status</th>
								<th style="background-color:#ef6c00; color:#FFFFFF;">Action</th>
							</tr>
							{% for order in orderlist %}
								<tr>
									<td style="text-align:center; font-weight:bold;">{{ forloop.counter }}</td>
									<td>{{order.user_name}}</td>
									<td>{{order.user_email}}</td>
									<td>{{order.user_mobile}}</td>
									<td>{{order.order_date}}</td>
									<td>{{order.os_title}}</td>
									<td>
											<div class="btn-group">
													<a href="/products/order-items/{{order.order_id}}" class="btn btn-success">View Items</a>
													{% if request.session.user_level_id == 1 %}		
													<a href="/products/order-edit/{{order.order_id}}" class="btn btn-primary" style="height:34px">Edit Status</a>
													{% endif %}
													{% if order.order_status != "5" and request.session.user_level_id == 2 %}		
													<a href="/products/order-cancel/{{order.order_id}}" class="btn btn-danger" style="height:34px">Cancel Order</a>
													{% endif %}
											</div>
									</td>
								</tr>
							{% endfor %}	
						</tbody>
					</table>
				<input type="hidden" name="act" />
			  <input type="hidden" name="order_id" id="recordID" />
	</form>
</div>
</div>
</div>
</div>
{% endblock content %}