{% load static from staticfiles%}
{% load get_menu %}
{% getTypesMenu as data %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Developed By M Abdur Rokib Promy">
	<meta name="author" content="cosmic">
	<meta name="keywords" content="Bootstrap 3, Template, Theme, Responsive, Corporate, Business">
	<link rel="shortcut icon" href="/assets/img/favicon.png">

	<title>
		Online Shopping System
	</title>

	<!-- Bootstrap core CSS -->
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/theme.css" rel="stylesheet">
	<link href="/assets/css/bootstrap-reset.css" rel="stylesheet">
	<!-- <link href="/assets/css/bootstrap.min.css" rel="stylesheet">-->

	<!--external css-->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery-ui.css">
	<link href="/assets/css/superfish.css" rel="stylesheet" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->


	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="/assets/css/component.css">
	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="/assets/css/style-responsive.css" rel="stylesheet" />


	</script>
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/jquery.validate.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/hover-dropdown.js"></script>
	<script defer src="/assets/js/jquery.flexslider.js"></script>
	<script src="/assets/js/jquery.easing.min.js"></script>
	<script src="/assets/js/link-hover.js"></script>
	<script type="text/javascript" src="/assets/js/jquery-ui.js"></script>
</head>

<body>
	<!--header start-->
	<header class="head-section">
		<div class="navbar navbar-default navbar-static-top container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
				<a class="navbar-brand" href="/">O<span>nline</span> S<span>hopping</span> S<span>ystem</span></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/pages/about">About</a></li>
					{% if request.session.user_level_id == 2 %}	
					<li class="dropdown">
						<a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="/products">Products <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="/products">All Products</a></li>
							{% for types in data %}
							<li><a href="/products/filters/{{types.type_id}}">{{types.type_name}}</a></li>
							{% endfor %}
						</ul>
					</li>	
					<li><a href="/products/order-listing">My Orders</a></li>
					{% endif %}

					{% if request.session.authenticated %}	
					<li class="dropdown">
						<a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">My Account <i class="fa fa-angle-down"></i>
                      </a>
						<ul class="dropdown-menu">
							<li><a href="/users/update/{{ request.session.user_id }}/">My Account</a></li>
							<li><a href="/users/changepassword">Change Password</a></li>
						</ul>
					</li>
					<li><a href="/users/logout">Logout</a></li>
					{% else %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="/products">Products <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="/products">All Products</a></li>
							{% for types in data %}
							<li><a href="/products/filters/{{types.type_id}}">{{types.type_name}}</a></li>
							{% endfor %}
						</ul>
					</li>	
					<li><a href="/users/add">Register</a></li>
					<li><a href="/users">Login</a></li>
					<li><a href="/pages/contact">Contact Us</a></li>
					{% endif %}
				</ul>
				</ul>
			</div>
		</div>
	</header>
	<!--header end-->
	{% block content %} {% endblock content %}
	<div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Record Delete Confirmation ?</h4>
				</div>
				<div class="modal-body">
					<form role="form" class="form-inline">
						<div class="form-group">
							Do you want to delete the record ?
						</div>
						<div class="rows" style="float:right; margin-top:15px;">
							<button class="btn btn-danger" type="button" onClick="delete_record()">Delete</button>
							<button class="btn btn-success" type="button" class="close" data-dismiss="modal" aria-hidden="true">Cancel</button>
						</div>
					</form>
					<div style="clear:both"></div>
				</div>

			</div>
		</div>
	</div>
	<!--footer start-->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-3 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
					<h1>
						contact info
					</h1>
					<address>
						<p><i class="fa fa-home pr-10"></i>Address: No.XXXXXX street</p>
						<p><i class="fa fa-globe pr-10"></i>Mars city, Country </p>
						<p><i class="fa fa-mobile pr-10"></i>Mobile : (123) 456-7890 </p>
						<p><i class="fa fa-phone pr-10"></i>Phone : (123) 456-7890 </p>
						<p><i class="fa fa-envelope pr-10"></i>Email : <a href="javascript:;">support@example.com</a></p>
					</address>
				</div>
				<div class="col-lg-3 col-sm-3">
					<div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
						<h1>Modules</h1>
						<ul class="page-footer-list">
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="#">Shopping Module</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="#">User Module</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="#">Product Module</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="#">Login Module</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="#">Payment Module</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-3">
					<div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
						<h1>Project Links</h1>
						<ul class="page-footer-list">
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="index.html">Home</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="about.php">About Us</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="contact.php">Contact</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="login.php">Login</a>
							</li>
							<li>
								<i class="fa fa-angle-right"></i>
								<a href="login.php">Email Us</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-3">
					<div class="text-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">
						<h1>
							About Project
						</h1>
						<p>Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser. Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine.</p>						
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
