{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider" style="top:1px; text-align: center; background: #ef6c00">
        <img src="/assets/img/banner.jpg">
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
              Welcome to Online Shopping System
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/1.jpg" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>Online Shopping System</b>
                </h4>
              </div>
              <p class="text-center">
                An online shop evokes the physical analogy of buying products or services at a regular "bricks-and-mortar" retailer or shopping center.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/2.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Order Management System</b>
                </h4>
              </div>
              <p class="text-center">
                Online stores typically enable shoppers to use "search" features to find specific models, brands or items. Online customers must have access.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/3.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Customer Management System</b>
                </h4>
              </div>
              <p class="text-center">
                A typical online store enables the customer to browse the firm's range of products and services, view photos or images of the products
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/assets/img/p3.png" alt="" style="height:335px; width:560px">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              About Online Shopping System
            </h1>
            <hr>
            <p>Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser. Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine, which displays the same product's availability and pricing at different e-retailers. As of 2016, customers can shop online using a range of different computers and devices, including desktop computers, laptops, tablet computers and smartphones.</p>
            <p>An online shop evokes the physical analogy of buying products or services at a regular "bricks-and-mortar" retailer or shopping center; the process is called business-to-consumer (B2C) online shopping. </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}

